

<div
  (mouseover)="entrer($event)" 
  (mouseout)="sortir($event)">
  Lorem ipssum dolor sit amet, turpis eget molestie ipsum, vivamus justo sit felis eros urna aenean, pede sed suspendisse. A
  neque id erat lorem, diam libero lorem, commodo ornare tristique purus tempor in. Enim malesuada arcu risus a, et et ultricies
  a leo, arcu mauris. Leo consectetuer sit ut non sed quod, lorem non neque elit dui, malesuada lacus id et mauris. Felis
  nec vestibulum mi at, neque wisi pede, arcu varius, odio ante neque neque. Elementum tristique sem et mi platea lectus,
  fringilla quam, nulla nec eget. Blandit venenatis sapien quisque mauris, hac fusce purus ullamcorper mollis pellentesque
  purus, elementum viverra pulvinar ut pharetra mattis aut, ut ligula sit amet cum, nunc eros vestibulum sed dolor. Quam
  ipsum ipsum vitae, sed praesent sit duis eleifend habitasse nibh, quis a, torquent nullam duis massa massa ullamcorper,
  id eros nunc lacus. Ut sequi molestiae esse. Vitae sit sodales, scelerisque nulla eget, lacus neque gravida molestie dictum
  arcu massa, tellus amet vitae. Sed lacinia nec dolor integer posuere enim, rhoncus auctor tempus risus sed.
</div>

